*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 1.25rem;
}

body {
	display: grid;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background-color: hsl(0deg 0% 10%);
	color: hsl(120deg 30% 75%);
	line-height: 1.6;
	text-align: justify;
}

img {
	height: 400px;
	width: 100%;
	display: block;
	object-fit: cover;
}

nav {
	background-color: hsl(20deg 70% 50%);
	padding: 1em 0;
	margin-bottom: 2em;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
}

a {
	color: hsl(0deg 0% 11%);
	font-weight: 700;
	text-decoration-color: hsl(0deg 0% 10%);
	cursor: pointer;
}

a:hover {
	color: hsl(36, 100%, 90%);
	text-decoration-color: hsl(36, 100%, 90%);
}

h1 {
	color: hsl(26deg 94% 52%);
	font-size: 3rem;
	text-align: center;
	line-height: 1.25;
	margin-top: 0;
}

#content {
	width: 90%;
	max-width: 1280px;

	margin: 0 auto;
}

footer {
	margin-top: auto;
	background-color: hsl(0deg 0% 15%);
	color: hsl(20deg 70% 50%);
}

.flex-container {
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

a > img {
	height: unset;
}

.gallery__title {
	font-size: 1.5rem;
	text-align: center;
}

.gallery-grid {
	display: grid;
	gap: 0 2em;

	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.gallery__img {
	height: 150px;
	width: 100%;
	border: 3px solid hsl(20deg 70% 50%);
	border-radius: 0.5em;
	object-fit: cover;
	object-position: 50% 80%;
	box-shadow: 0 0 2px 0px black;
}

.gallery__text {
	text-align: center;
}
